@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

// Color-family
$font-family-gothic: "Gothic A1", sans-serif;
$font-family-jose-san: "Josefin Sans", sans-serif;

// Coolor-pallete
$color-primary-light-200: rgba(0, 0, 0, 0.945);
$color-primary-light-300: rgb(12, 11, 11);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: $font-family-gothic;
  background-color: $color-primary-light-300;
  color: whitesmoke;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #cec6c6;
  display: inline-block;
}

.main-left {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 88px 88px 0 88px;
}

.profile {
  display: flex;
  flex-direction: column;

  &__name {
    font-family: inherit;
    letter-spacing: 1.6;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__description {
    color: #f5f3f3d0;
    font-size: 0.9rem;
    letter-spacing: 1.8;
    font-weight: 500;
    font-family: $font-family-gothic;
    line-height: 1.6;
  }

  &__title {
    position: relative;
  }

  &__title-link {
    text-decoration: none;
    display: block;
    font-weight: 300;
    padding: 1rem 0;
  }

  &__title-span {
    margin-right: 2rem;
  }

  &__bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bio-img {
    width: 5%;
    border-radius: 100px;
  }
}

.main-right {
  padding: 150px 150px 0 88px;
  margin-left: 50%;
}

.card {
  background-color: rgb(156, 143, 143);

  &__h6 {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }

  &__paragraph {
    font-weight: 300;
    margin: 0.7rem 0;
  }

  &__big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
      margin: 1rem 0;
      padding: 3rem;
      background-color: rgb(24, 24, 21);
      transition: transform 250ms;
      transition-timing-function: linear;

      &:hover {
        background-color: rgb(30, 30, 32);
        transform: scale(1.1);
      }
    }
  }

  &__small {
    display: flex;
    justify-content: space-between;

    &__wrapper {
      padding: 3rem;
      background-color: rgb(24, 24, 21);
      border-bottom: 1px solid rgb(75, 71, 71);
      flex-grow: 1;
      transition: transform 250ms;
      transition-timing-function: linear;

      &:hover {
        background-color: rgb(30, 30, 32);
        transform: scale(1.1);
      }

      &:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
